{% comment %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All chai</title> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'style.css' %}"> {% endcomment %}
  {% comment %} </head>
  <body>
    <h1>All types of chai</h1>
  </body>
</html> {% endcomment %}

{% extends "layout.html" %}
{% block title %}
Chai Page
{% endblock %}
{% block content %}
<h1>All Chai for you </h1>

{% endblock %}
{% for chai in chais%}

{% endfor %} 